# Time to ignore files

# Terraform Infrastucture state files
*.tfstate*

# Terraform init folder, modules and providers
.terraform

# Ignoring tfvars file
*.tfvars

# AWS Credentials File
*credentials
