// AWS Provider Variables
aws_region              = "AWS_REGION"
aws_credentials_profile = "CREDENTIALS_PROFILE"

// Common Tags
common_tags {
  Environment = "ENVIRONMENT_TAG"
  Project     = "PROJECT_TAG"
  Managed_by  = "MANAGED_BY_TAG"
  }

// VPC Module Variables Values
vpc_cidr_block              = "VPC_CIDR_BLOCK"
enable_dns_on_vpc           = true/false
enable_dns_hostnames_on_vpc = true/false

// VPC Module Tags Values
VPC_Name_Tag        = "VPC_NAME_TAG"
VPC_Description_Tag = "VPC_DESCRIPTION_TAG"

// Public Subnet Variables Values
public_subnet_cidr_block        = "PUBLIC_SUBNET_CIDR_BLOCK"
public_subnet_availability_zone = "AVAILABILITY_ZONE"

// Public Subnet Module Tags Values
Public_Subnet_Name_Tag        = "PUBLIC_SUBNET_NAME_TAG"
Public_Subnet_Description_Tag = "PUBLIC_SUBNET_DESCRIPTION_TAG"

// Private Subnet Variables Values
private_subnet_cidr_block         = "PRIVATE_SUBNET_CIDR_BLOCK"
private_subnet_availability_zone  = "AVAILABILITY_ZONES"

// Private Subnet Module Tags Values
Private_Subnet_Name_Tag         = "PRIVATE_SUBNET_NAME_TAG"
Private_Subnet_Description_Tag  = "PRIVATE_SUBNET_DESCRIPTION_TAG"

// Internet Gateway Module
Internet_Gateway_Name_Tag         = "INTERNET_GATEWAY_NAME_TAG"
Internet_Gateway_Description_Tag  = "INTERNET_GATEWAY_DESCRIPTION_TAG"

// Key Pair Module
mikrotik_chr_key_pair_name = "KEY_PAIR_NAME"

// Security Groups Module
// Segurity Group for the Public Subnet
sg_public_subnet_name = "PUBLIC_SG_NAME"
sg_public_subnet_description = "PUBLIC_SG_DESCRIPTION"
sg_public_subnet_revoke_rules = true
SG_Public_Subnet_Name_Tag = "PUBLIC_SG_NAME_TAG"
SG_Public_Subnet_Description_Tag = "PUBLIC_SG_DESCRIPTION_TAG"

// Segurity Group for the Private Subnet
sg_private_subnet_name = "PRIVATE_SG_NAME"
sg_private_subnet_description = "PRIVATE_SG_DESCRIPTION"
sg_private_subnet_revoke_rules = true
SG_Private_Subnet_Name_Tag = "PRIVATE_SG_NAME_TAG"
SG_Private_Subnet_Description_Tag = "PRIVATE_SG_DESCRIPTION_TAG"

// Egress Rules for the Public Subnet
sg_public_subnet_egress_world_description = "DESCRIPTION_FOR_THE_EGRESS_RULE_PUBLIC_SUBNET"

// Egress Rules for the Private Subnet
sg_private_subnet_egress_world_description = "DESCRIPTION_FOR_THE_EGRESS_RULE_PRIVATE_SUBNET"

// Ingress Rules for the Public Subnet
allow_sg_public_subnet_ingress_shh = true/false
sg_public_subnet_ingress_shh_description = "DESCRIPTION_FOR_SSH_INBOUND_RULE"
sg_public_subnet_ingress_shh_from_CIDR = "CIDR_WITH_SSH_ACCES"
allow_sg_public_subnet_ingress_web_ui = true/false
sg_public_subnet_ingress_web_ui_description = "DESCRIPTION_FOR_WEBUI_INBOUND_RULE"
sg_public_subnet_ingress_web_ui_from_CIDR = "CIDR_WITH_WEBUI_ACCES"
allow_sg_public_subnet_ingress_winbox = true/false
sg_public_subnet_ingress_winbox_description = "DESCRIPTION_FOR_WINBOX_INBOUND_RULE"
sg_public_subnet_ingress_winbox_from_CIDR = "CIDR_WITH_WINBOX_ACCES"
allow_sg_public_subnet_ingress_vpn = true/false
sg_public_subnet_ingress_vpn_description = "DESCRIPTION_FOR_VPN_INBOUND_RULE"
sg_public_subnet_ingress_vpn_from_CIDR = "CIDR_WITH_VPN_ACCES"
sg_private_subnet_ingress_from_private_subnet_description = "DESCRIPTION_FOR_INBOUND_RULE_FROM_PRIVATE_SUBNET"

// Ingress Rules for the Private Subnet
sg_private_subnet_ingress_from_mikrotik_description = "DESCRIPTION_FOR_INBOUND_RULE_WITH_ORIGIN_FROM_MIKROTIK"

// Route Tables Module
public_subnet_route_table_Name_Tag = "PUBLIC_SUBNET_ROUTE_TABLE_NAME_TAG"
public_subnet_route_table_Description_Tag = "PUBLIC_SUBNET_ROUTE_TABLE_DESCRIPTION_TAG"

// Mikrotik CHR Module
mikrotik_chr_ami = "AMI_ID"
mikrotik_availability_zone = "AVAILABILITY_ZONE"
mikrotik_chr_instance_type = "INSTANCE_TYPE"
mikrotik_chr_enable_disable_monitoring = true/false
mikrotik_chr_volume_type = "VOLUME_TYPE"
mikrotik_chr_volume_size = VOLUME_SYZE
mikrotik_chr_volume_delete_policy = true/false
Mikrotik_CHR_Instance_Name_Tag = "INSTANCE_NAME_TAG"
Mikrotik_CHR_Instance_Description_Tag = "INSTANCE_DESCRIPTION"
Mikrotik_CHR_Instance_Volume_Name_Tag = "INSTANCE_VOLUME_NAME_TAG"
Mikrotik_CHR_Instance_Volume_Description_Tag = "INSTANCE_VOLUME_DESCRIPTION"
